.cardContainer{
  background-color: #1c1a1d;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: .4rem;
  
}

.text{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.data{
  text-align: center;
  font-size: 2.5rem;
}